.Game, .Add{
  text-align: center;

}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

input :hover {
  color: brown;
}

.OrCreate{
  color: antiquewhite;
  display: flex;
  justify-content: center;
  text-shadow: 1px 1px 2px black;
  font-size: 1.7em;
}

.Result{
  color: antiquewhite;
  text-shadow: 1px 1px 2px black;
}

.DivCalcul{
  padding: 2%;
}