@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

.Game {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.Game, .Add{
  text-align: center;

}

input :hover {
  color: brown;
}

.OrCreate{
  color: antiquewhite;
  display: flex;
  justify-content: center;
  text-shadow: 1px 1px 2px black;
  font-size: 1.7em;
  line-height: 0%;
}

.Result{
  color: antiquewhite;
  text-shadow: 1px 1px 2px black;
}

.Hidden{
  display: none;
}

.DivCalcul{
  padding: 2%;
}

.plan-travel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plan-travel p {
  font-size: 2rem;
  text-shadow: 1px 1px 2px purple;
  padding: 10% 0;
  color: antiquewhite;
}

.calculation, .DivCalcul {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}