.Planet{
  color: antiquewhite;
  display: flex;
  justify-content: center;
  text-shadow: 1px 1px 2px black;
  font-size: 1em;
}

.Planet, label{
  display: flex;
  align-items: space-around;
  justify-content: center;
}

.Menu{
  display: flex;
  vertical-align: middle;  
  box-sizing: border-box;
}

.BoxMenu{
  display: inline-block;
}
