.Homepage {
  position: fixed;
  height: 100%;
  width: 100%;
  background-image: url("https://images2.alphacoders.com/724/thumb-1920-724710.jpg");
  background-size: cover;
  }

.enter-button {
  font-size: 48px;
  border-radius: 10px;
  background: grey;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

section > img {
  width: 30%;
}

section > button {
  width: 15%;
}