#volet {
    padding: 10%;
    background: #6B9A49;
    color: #fff; 
}

#volet a.ouvrir, 
#volet a.fermer{
	padding: 10px 25px;
	background: #555;
	color: #fff;
	text-decoration: none;
}

#volet {
	position: relative;
}

#volet a.ouvrir,
#volet a.fermer{
	right: -88px;
	top: 150px;

	/* quelques styles CSS3 */

	border-radius: 0 0 8px 8px;
}

#volet {
	-webkit-transition: all .5s ease-in;
	transition: all .5s ease-in;
}

#volet:target {
	top: 0;
}

#volet a.fermer {
	display: none;
}

#volet_clos:target #volet {
	top: -1000px;
}

#volet:target a.ouvrir {
	display: none;
}

#volet:target a.fermer {
	display: block;
}