.Lexique {
  background-color: rgba(5, 22, 45);
  color: antiquewhite;
  text-align: justify;
  font-size: 1.2em;
}

.LexiqueSun {
  background-color: rgba(5, 22, 45);
  color: antiquewhite;
  text-align: justify;
  font-size: 1.2em;
}

.Lexique a:hover {
  color: lightblue;
}

.Lexique li {
  padding: 1%;
  text-shadow: 0px 0px 2px lightblue;
}
