.galaxy{
    background-image: url(https://news.gsu.edu/files/2019/05/iStock-516189065.jpg);
    height: 1000px;
}

@media only screen and (min-width: 770px){
    .sun {
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-top: 660px;
        margin-left: 45%;
    }

    .sun img{
        width: 100px;
        height: 100px;
    }

    .mercury {
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-top: 686px;
        margin-left: 47.8%;
        animation: ellipse_mercure 5s linear infinite;
    }

    .mercury img{
        width: 20px;
        height: 20px;
    }

    .venus{
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-top: px;
        margin-left: %;
        animation: ellipse_venus s linear infinite;
    }

    .venus img{
        width: 30px;
        height: 30px;
    }

    .earth{
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-top: px;
        margin-left: %;
        animation: ellipse_earth s linear infinite;
    }

    .earth img{
        width: 40px;
        height: 40px;
    }

    .earth .moon{
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-top: 2px;
        margin-left: 10%;
        animation: ellipse_moon s linear infinite;
    }

    .earth .moon img{
        width: 10px;
        height: 10px;
    }
    
    .orbitMercury{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 2px solid #fff;
        position: absolute;
        margin-top: 632px;
        margin-left: 42.7%;
      }

      .orbitVenus{
        width: 255px;
        height: 255px;
        border-radius: 50%;
        border: 2px solid #fff;
        position: absolute;
        margin-top: px;
        margin-left: %;
      }

      .orbitEarth{
        width: 340px;
        height: 340px;
        border-radius: 50%;
        border: 2px solid #fff;
        position: absolute;
        margin-top: px;
        margin-left: %;
      }
    
    @keyframes ellipse_mercure {
        from { transform: rotate(0deg) translateY(-60px);}
        to { transform: rotate(360deg) translateY(-60px);}
        }

    @keyframes ellipse_venus {
        from { transform: rotate(0deg) translateY(-77px);}
        to { transform: rotate(360deg) translateY(-77px);}
        }
        
    @keyframes ellipse_earth {
        from { transform: rotate(0deg) translateY(-104px);}
        to { transform: rotate(360deg) translateY(-104px);}
        }

    @keyframes ellipse_moon {
            from { transform: rotate(0deg) translateY(-40px);}
            to { transform: rotate(360deg) translateY(-40px);}
            }        
}    