.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 75px;
  background-color: rgba(5, 22, 45);
}

.logoAstra img { 
  height: 40%;
  width: auto;
}

.navbar, img {
  justify-content: center;
}

.navbarList ul li {
  text-align: left;
  list-style: none;
}

a {
  text-decoration: none;
}


.navbar{
  display: inline;
  justify-content: flex-start, space-around;
  
}

.navbarList ul{
  display: flex;
  justify-content: space-around;
  background-color: rgba(5, 22, 45);
  font-size: 1.4em;
}
.navbarList ul a:hover{
  color: grey;
}

.navbar, .logoAstra {
  text-align: center;
}

