.VehicleName{
  color: antiquewhite;
  display: flex;
  justify-content: center;
  text-shadow: 1px 1px 2px black;
  padding: 2%;
}

.VehicleSpeed{
  color: antiquewhite;
  display: flex;
  justify-content: center;
  text-shadow: 1px 1px 2px black;
  padding: 2%;
}
